<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bottles of Beer</title>
</head>
<body>
    <% if (numberBot >= 1) { %>
        <h1><%=numberBot%> Bottles of Beer</h1>
        <a href="/<%=numberBot - 1%>">take one down</a>
     
    <% } else { %>
        <h1>No More Beer!</h1>
        <a href="/">Start Over</a>
    <% } %>
</body>
</html>